{% extends 'layout.html' %}
{% block body_content %}
<form action='' method='POST'>
    <br>
    {{ pform.hidden_tag() }}
    {{ pform.name }} 
    {% if pform.name.errors %}
        {% for error in pform.name.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    {{ pform.position_id }} 
    {% if pform.position_id.errors %}
        {% for error in pform.position_id.errors %}
            {{ error }}
        {% endfor %}
    {% endif %}
    
    {{ pform.submit }}
</form>
{% endblock body_content %}